form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  margin-top: 15px;
  border: none;
  background-color: coral;
  padding: .75rem;
  color: white;
}
